*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
}
.container{
    width: 98%;
    margin: 0 auto;
    padding: 0 5px;
}
nav{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.object{
    object-fit: cover;
    background: linear-gradient(grey, rgb(214, 211, 211));
}
.bg {
    object-fit: cover;
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: invert(30%);
}
.background{
    width: 100%;
    background: linear-gradient(rgb(66, 51, 45), rgb(214, 211, 211));
    height: 100%;
    padding-bottom: 6%;
    min-height: 100vh;
}
.form{
    background-color: rgba(240, 248, 255, 0.473);
    padding: 40px;
    border-radius: 12px;
}
.spaceLink{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 1px;
    left: 0;
    z-index: 1;
}
footer p{
    color: grey;
    border-top: 2px solid gray;
    text-align: center;
}
.label{
    color: gray;
}
table{
    background-color: white;
    box-shadow: rgba(179, 15, 15, 0.2) 0px 2px 8px 0px;
}
label{
    color: rgb(58, 57, 57);
    margin-top: 25px;
}
.filter{
    filter: blur(80%);
}

h1 { 
  margin:80px 0 10px 0;
  font-size: 52px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #07351e,
	2px 2px 0px #07351e,
	3px 3px 0px #07351e,
	4px 4px 0px #07351e;
}
.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
a{
    text-decoration: none;
    color: #202572;
    font-weight: 300;
    font-size: medium;
}
a:hover{
    text-decoration: underline;
    color: #53567c;
}
b{
    color: black;
    text-decoration: underline;
    margin-right: 30px;
}
.show{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}